In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount = True)

Mounted at /content/drive

In [ ]:
filepath = "/content/drive/MyDrive/Colab Notebooks/DATASETS/NAMES/"

In [ ]:
import pandas as pd

In [ ]:
names = pd.read_csv(filepath + 'gender_cbse.csv')

In [ ]:
names.tail(10)

        Roll No.                  Name         Mothers Name     Fathers Name
209095   4654991          JESBIN JACOB           BIJI JACOB        JACOB C J
209096   4654992         JINTU VINCENT        JESSY VINCENT   VINCENT GOSEPH
209097   4654993            JOMAL JOSE  TREESA MARIA THOMAS      JOSE THOMAS
209098   4654994         JOSBIN JOSEPH                JOLLY            JOSHY
209099   4654995        JUSTINE GEORGE         SHYNI GEORGE       N A GEORGE
209100   4654996         KIRAN K SHAJI            SOPHYAMMA            SHAJI
209101   4654997         MATHEW GEORGE          ELSAMMA T S  GEORGE MECHERIL
209102   4654998            MIDLAJ V P              ZAREENA         MUHAMMED
209103   4654999  MUHAMMED SHAHANU C C       C C SAIBUNNISA        K ABDULLA
209104   4655000                 NIMIL               MINI M        MOHANAN T

In [ ]:
print(names.shape[0])
names.info()

209105
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209105 entries, 0 to 209104
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Roll No.      209105 non-null  int64
 1   Name          209105 non-null  object
 2   Mothers Name  209104 non-null  object
 3   Fathers Name  209094 non-null  object
dtypes: int64(1), object(3)
memory usage: 6.4+ MB

In [ ]:
names.isna().sum()

Roll No.         0
Name             0
Mothers Name     1
Fathers Name    11
dtype: int64

In [ ]:
names.fillna('', inplace = True)

In [ ]:
names.isna().sum()

Roll No.        0
Name            0
Mothers Name    0
Fathers Name    0
dtype: int64

In [ ]:
def convert2lower(text):
    return text.lower()

In [ ]:
names['Name'] = names['Name'].apply(convert2lower)
names['Mothers Name'] = names['Mothers Name'].apply(convert2lower)
names['Fathers Name'] = names['Fathers Name'].apply(convert2lower)

In [ ]:
names.sample(10)

        Roll No.            name            female                 male
171526   4614392  s jabez daniel  d rose bell suja  g r silvance daniel
156666   9203717     azwar jahan      ishrat jahan          jamal nasir
81501    9126487     nikita garg       kavita garg          mukesh garg
175948   4618317       p s akash        g vanammal      p k sunil kumar
182695   4629071    athul george     sheeba george      george varghese
13866    4668392   bhakti ramesh            vijaya               ramesh
81487    9126473  chandan sharma      manju sharma   vijay kumar sharma
3979     4658488    aditya verma       neelu verma          vinay verma
85306    9124299      rahul rana      pallavi rana         pradeep rana
167866   4610730        k kamali        m pounthai          r karuppiah

In [ ]:
names.rename( columns = {"Name": "name",
                         "Mothers Name":"female",
                         "Fathers Name": "male"}, inplace = True )

In [ ]:
names.isna().sum()

Roll No.    0
name        0
female      0
male        0
dtype: int64

In [ ]:
def first_name_extraction(mother_name, father_name):
    mother_name = mother_name #row['female']
    father_name = father_name #row['male']

    mother_name_list = mother_name.split()
    father_name_list = father_name.split()

    if len(mother_name_list) > 0 and len(father_name_list) > 0:

        if len(mother_name_list) == 1 and len(father_name_list) == 1: # jolly | joshy
            return mother_name_list[0], father_name_list[0]

        elif (len(mother_name_list) == 3 and len(father_name_list) == 3):
            mother_first, mother_middle, mother_last = mother_name_list[0], mother_name_list[1], mother_name_list[2]
            father_first, father_middle, father_last = father_name_list[0], father_name_list[1], father_name_list[2]

            if len(mother_last) == 1 and len(father_last) == 1:
                return mother_first, father_first
            elif mother_last == father_last:
                return mother_first, father_first
            else:
                if mother_first == father_first and mother_last == father_middle:
                    return mother_middle, father_middle
                elif mother_first == father_first and mother_last == father_last:
                    return mother_middle, father_middle
                elif len(mother_middle) == 1 and len(father_middle) != 1:
                    return mother_last, father_middle

        else:
            mother_firstname, mother_lastname = mother_name_list[0], mother_name_list[-1]
            father_firstname, father_lastname = father_name_list[0], father_name_list[-1]

            if mother_lastname == father_lastname:
                if len(father_firstname) > 1: # treesa maria thomas | jose thomas
                    return mother_firstname, father_firstname
                else:
                    return mother_firstname, father_lastname  # shyni george | n a george

            else:
                if mother_lastname == father_firstname: # biji jacob | jacob c j
                    return mother_firstname, father_firstname
                else:
                    if (len(mother_lastname) == 1 and len(father_lastname) == 1) and (len(mother_firstname) > 1 and len(father_firstname) > 1): # mini m | mohanan t
                        return mother_firstname, father_firstname

                    elif (len(mother_firstname) == 1 and len(father_firstname) == 1) and (len(mother_lastname) > 1 and len(father_lastname) > 1): # c c saibunnisa | k abdulla
                        return mother_lastname, father_lastname

                    elif len(mother_lastname) == 1 and len(father_firstname) == 1:
                        return mother_firstname, father_lastname
                    else:
                        return mother_firstname, father_firstname

    else:
        if len(mother_name_list) == 0:
            return "NA", father_name_list[0]
        elif len(father_name_list) == 0:
            return mother_name_list[0], "NA"

In [ ]:
first_name_extraction("m pounthai", "r karuppiah")

('pounthai', 'karuppiah')

In [ ]:
names.head()

   Roll No.        name        female         male
0   3612501  liter riba     dabi riba    doli riba
1   3612502  linya ango    tumbi ango   jumli ango
2   3612503  mogam padu    minsa padu   rajum padu
3   3612504  minu bagra  pakter bagra  domin bagra
4   3612505  minyir ori    jirbom ori    kimen ori

In [ ]:
names[['mother', 'father']] = names.apply(first_name_extraction, axis=1, result_type='expand')

In [ ]:
names.sample(10)

,Roll No.,name,female,male,mother,father
13929,4668455,saket,bhargavi,vijay raghava,bhargavi,vijay
142896,9189935,shivangi gupta,radha gupta,vinod kumar gupta,radha,vinod
39398,3614338,jokniya langkam,giram langkam,hallu langkam,giram,hallu
108460,9149470,sanjeev rana,kamla,bhagirath,kamla,bhagirath
147178,9194219,ariba khan,naushaba khan,ishrat ali khan,naushaba,ishrat
82754,9122741,shipra singh,neelam singh,vb singh,neelam,vb
125312,9168342,sharique afzal,asfia begam,syed afzal hussain,asfia,syed
20712,4675239,pramitee saki,mangal saki,manoj saki,mangal,manoj
69786,3644766,rajesh tamang,bina gurung,krishna bahadur gurung,bina,krishna
107697,9148707,vidhi bansal,meenakshi bansal,pankaj bansal,meenakshi,pankaj

In [ ]:
female_names = names[['Roll No.', 'mother']]
male_names = names[['Roll No.', 'father']]

In [ ]:
female_names['Gender'] = 'female'
male_names['Gender'] = 'male'

<ipython-input-29-aef84a585653>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_names['Gender'] = 'female'
<ipython-input-29-aef84a585653>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male_names['Gender'] = 'male'

In [ ]:
female_names.drop('Roll No.', inplace = True, axis = 1)
male_names.drop('Roll No.', inplace = True, axis = 1)

<ipython-input-30-49dc55459b3a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_names.drop('Roll No.', inplace = True, axis = 1)
<ipython-input-30-49dc55459b3a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male_names.drop('Roll No.', inplace = True, axis = 1)

In [ ]:
female_names.rename(columns = {"mother":"Name"}, inplace = True)
male_names.rename(columns = {"father":"Name"}, inplace = True)

<ipython-input-31-f4d083c2667a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  female_names.rename(columns = {"mother":"Name"}, inplace = True)
<ipython-input-31-f4d083c2667a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  male_names.rename(columns = {"father":"Name"}, inplace = True)

In [ ]:
male_names.head()

    Name Gender
0   doli   male
1  jumli   male
2  rajum   male
3  domin   male
4  kimen   male

In [ ]:
og_names = pd.read_csv(filepath + "cleaned_gender_training_data.csv")

In [ ]:
og_names.head()

        Name  Gender
0     aaaqil    male
1  aaarabisk    male
2     aaarti  female
3      aaban    male
4   aabarana  female

In [ ]:
gender_df = pd.concat([female_names, male_names, og_names])

In [ ]:
gender_df.head()

     Name  Gender
0    dabi  female
1   tumbi  female
2   minsa  female
3  pakter  female
4  jirbom  female

In [ ]:
gender_df.shape[0]

542645

In [ ]:
gender_df = gender_df[gender_df['Name'].str.len() > 3]

In [ ]:
gender_df.shape[0]

508359

In [ ]:
gender_df.to_csv(filepath + "gender_trainig040723.csv", index = False)